.matchBrif{
  display: inline-flex;
  text-align: center;
}

.matchBrif #radiant {
  color: green;
  font-size: 45px;
  margin-left: 4rem;
  margin-right: 2rem;

}

.matchBrif #time {
  font-size: 25px;
  margin: auto;
}

.matchBrif #dire {
  color: darkred;
  font-size: 45px;
  margin-left: 2rem;
  margin-right: 4rem;

}

.matchBrif #viewer{
  font-size: 10px;
  margin: auto;

  padding-top: 1rem;
}
.matchBrif #viewer i{
  font-size: 7px;
  margin: auto;
}
.matchBrif #MMR{
  font-size: 12px;
  font-weight: 500;
  color: #e2a822;
  margin: auto;
  padding-top: 1rem;
  margin-right: 1rem;
}
