<mat-grid-list cols="3" rowHeight = '100px'>
  <mat-grid-tile colspan="3">
      <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header collapsedHeight='80px' expandedHeight = '80px'>
              <div class = "matchBrif">
                <span id="radiant"> 23 </span>
                <span id ="time"> {{gameTime | timeStamp2MinSec}} </span>
                <span id = "dire"> 23 </span>
                <span id = "MMR">MMR: 5000 </span>
                <span id = "viewer"><i class="material-icons"> visibility </i> 222 </span>

              </div>
            </mat-expansion-panel-header>
          <mat-panel-description></mat-panel-description>
          </mat-expansion-panel>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
      <mat-expansion-panel >
          <mat-expansion-panel-header>
              <p>Radiant</p> <p>20 : 20</p> <p>Dire</p> <p>Viewer: 200</p>
            </mat-expansion-panel-header>
          <mat-panel-description></mat-panel-description>
          </mat-expansion-panel>
  </mat-grid-tile>

</mat-grid-list>














