.match-view .match-map .map{
    width: 560px;
    height: 560px;
    background-image: url('../../assets/maps/720e.png');
    background-size: cover;
}

.match-view .match-core .matchBrif{
    display: inline-flex;
    text-align: center;
    width: 520px;
  }
  
.match-view .match-core .matchBrif #radiant {
    color: green;
    font-size: 45px;
    width: 80px;
    margin-left: 6rem;
  }
  
.match-view .match-core .matchBrif #time {
    font-size: 25px;
    margin: auto;
  }
  
.match-view .match-core .matchBrif #dire {
    color: darkred;
    width: 80px;
    font-size: 45px;
    margin-right: 6rem;
  
  }
  
.match-view .match-core .matchBrif #viewer{
    font-size: 10px;
    margin: auto;
    padding-top: 1rem;
  }

  .match-view .match-core .matchBrif #viewer i{
    font-size: 7px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .match-view .match-core .matchBrif #MMR{
    font-size: 10px;
    font-weight: 400;
    color: #e2a822;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1rem;
  }
  
  .match-ban-pick>::ng-deep .mat-figure{
    display: block;
  }
  .match-ban-pick .pick{
    display: inline-flex;
  }

  .match-ban-pick .ban{
    display: inline-flex;
  }
  .match-ban-pick .pick .radiant{
    margin-right: 85px;
   
  }
  .match-ban-pick .pick .dire{
    margin-left: 87px;
  }
  .match-ban-pick .pick .onPage{
    width: 112px;
    height: 55px;
  }

  .match-ban-pick .ban .radiant{
    margin-right: 88px;
   
  }
  .match-ban-pick .ban .dire{
    margin-left: 88px;
  }
  .match-ban-pick .ban .onPage{
    width: 93px;
    height: 47px;
  }
  
  .match-mata-data::ng-deep .mat-tab-label{
    width: 50%;
}


.match-mata-data::ng-deep .mat-tab-label-content{
  color: black;
}

.match-mata-data  .net-worth-chart {
    width: 620px;
    height: 420px;
    margin-top: 100px; 
  }
