<mat-grid-list class="match-view" cols="5" rowHeight='120px'>
  <mat-grid-tile class ="match-core" colspan = "5" rowspan="1">
    <div class = "matchBrif">
      <span id="radiant">20 </span>
      <span id ="time"> {{1345 | timeStamp2MinSec}} </span>
      <span id = "dire"> 12 </span>
      <span id = "MMR">MMR: 3321 </span>
      <span id = "viewer"><i class="material-icons"> visibility </i> 212 </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class ="match-ban-pick" colspan = "5" rowspan="1" style="display: block;">
    <div class = "pick">
        <div class = "radiant" >
            <img *ngFor = "let hero of heroes" class = "onPage" src={{hero}} title="pick">
          </div>
          <div class = "dire">
            <img *ngFor = "let hero of heroes" class = "onPage" src={{hero}}  title="pick">
          </div>
    </div>
    <div class = "ban">
      <div class = "radiant" >
        <img *ngFor = "let hero of [1, 2, 3, 4, 5, 6]" class = "onPage" src={{bans}} title="pick">
        </div>
        <div class = "dire">
          <img *ngFor = "let hero of [1, 2, 3, 4, 5, 6]" class = "onPage" src={{bans}} title="pick"> 
        </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class ="match-map" colspan = "2" rowspan="5">
    <div class="map"></div> 
  </mat-grid-tile>
  <mat-grid-tile class ="match-mata-data" colspan = "3" rowspan="5">
    <mat-tab-group>
        <mat-tab label="NET WORTH">
            <div class='net-worth-chart'>
                <canvas width="620" height="420" id = 'net-worth-chart' baseChart  
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                ></canvas>
            </div>
              
        </mat-tab>
        <mat-tab label="NET WORTH DIFF">
          <div class='net-worth-chart'>
              <canvas width="620" height="420" id = 'net-worth-chart' baseChart  
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              ></canvas>
          </div>  
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
  <mat-grid-tile class ="match-heroes" colspan = "5" rowspan="1">

  </mat-grid-tile>
</mat-grid-list>