h1 {
  font-size: 4rem;
  padding-top: 2rem;
  color: #1976d2;
  font-family: 'Kalam', cursive;
  text-align: center;

}
h2 {
  font-size: 2rem;
  color: #1976d2;
  font-family: 'Kalam', cursive;
  text-align: center;
}

.mat-display-2{
  font: 400 45px/48px Roboto,"Helvetica Neue",sans-serif;
  margin: 0 0 30px;
  letter-spacing: -.005em;
}
