h1 {
  font-size: 4rem;
  padding-top: 2rem;
  color: #1976d2;
  font-family: 'Kalam', cursive;
  text-align: center;

}
h2 {
  font-size: 2rem;
  color: #1976d2;
  font-family: 'Kalam', cursive;
  text-align: center;
}
